<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
  
  <parameter name = "email1" value = "abc123@gmail.com"></parameter>
  <parameter name = "password1" value = "abc123"></parameter>
  <parameter name = "email2" value = "xyz123@gmail.com"></parameter>
  <parameter name = "password2" value = "xyz123@"></parameter>
  <parameter name = "email3" value = "yam123@gmail.com"></parameter>
  <parameter name = "password3" value = "yam123"></parameter>
  
    <classes>
      <class name="org.sample.FaceBook"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
